@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500,600,700&display=swap);
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-ico1 .path1:before {
  content: "";
  color: #386a48
}
._icon-ico1 .path2:before {
  content: "";
  margin-left: -1em;
  color: #84b493
}
._icon-ico5 .path1:before {
  content: "";
  color: #82b492
}
._icon-ico5 .path2:before {
  content: "";
  margin-left: -1.060546875em;
  color: #366a47
}
._icon-ico5 .path3:before {
  content: "";
  margin-left: -1.060546875em;
  color: #82b492
}
._icon-ico6 .path1:before {
  content: "";
  color: #366a47
}
._icon-ico6 .path2:before {
  content: "";
  margin-left: -1em;
  color: #82b492
}
._icon-ico4 .path1:before {
  content: "";
  color: #82b492
}
._icon-ico4 .path2:before {
  content: "";
  margin-left: -1em;
  color: #366a47
}
._icon-ico4 .path3:before {
  content: "";
  margin-left: -1em;
  color: #82b492
}
._icon-ico4 .path4:before {
  content: "";
  margin-left: -1em;
  color: #366a47
}
._icon-ico3 .path1:before {
  content: "";
  color: #366a47
}
._icon-ico3 .path2:before {
  content: "";
  margin-left: -.98828125em;
  color: #82b492
}
._icon-ico2 .path1:before {
  content: "";
  color: #366a47
}
._icon-ico2 .path2:before {
  content: "";
  margin-left: -.98828125em;
  color: #82b492
}
._icon-ico2 .path3:before {
  content: "";
  margin-left: -.98828125em;
  color: #82b492
}
._icon-ico2 .path4:before {
  content: "";
  margin-left: -.98828125em;
  color: #366a47
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #e6e6e6;
  line-height: 1;
  font-family: Mulish;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Mulish;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.spollers {
  display: grid;
  gap: 2.875rem
}
.spollers__item {
  font-size: 1.25rem
}
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #ff6a00;
  border-radius: .75rem;
  padding: 1.25rem 2.0625rem;
  position: relative;
  list-style: none;
  background-color: #fff;
  color: #000;
  font-weight: 500
}
.spollers__title::-webkit-details-marker,
.spollers__title::marker {
  display: none
}
._spoller-init .spollers__title {
  cursor: pointer
}
._spoller-init .spollers__title::after,
._spoller-init .spollers__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .spollers__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.spollers__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #ff6a00;
  background-color: #fff;
  color: #000
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  background-color: #ff6a00;
  display: inline-block;
  font-weight: 500;
  font-size: 1.25rem;
  padding: .5625rem 3.9375rem;
  border-radius: 12px;
  transition: all .3s;
  line-height: 150%
}
.subtitle {
  font-weight: 600;
  color: #fff;
  line-height: 150%
}
.title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2%
}
.logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  transition: all .3s;
  position: relative;
  z-index: 2
}
.logo span {
  color: #f5b355;
  transition: all .3s
}
.header {
  border-bottom: 1px solid #fff;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all .3s
}
.header._header-scroll {
  position: fixed
}
.header__container {
  display: flex;
  align-items: center;
  min-height: 7.5rem;
  justify-content: space-between;
  -webkit-column-gap: .625rem;
  -moz-column-gap: .625rem;
  column-gap: .625rem;
  transition: all .3s
}
.menu {
  display: flex;
  align-items: center;
  -webkit-column-gap: 1.125rem;
  -moz-column-gap: 1.125rem;
  column-gap: 1.125rem
}
.menu__link {
  font-weight: 600;
  position: relative
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: -.3125rem;
  left: 50%;
  width: 0;
  height: .0625rem;
  background-color: #fff;
  transition: all .3s
}
.actions-header {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.actions-header__button {
  padding: .6875rem 2.8125rem;
  font-size: 1rem
}
.icon-menu {
  display: none
}
.footer {
  background-color: #4e4e4e
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.footer__link {
  transition: all .3s
}
.footer__copyright {
  line-height: 150%
}
.main {
  background: url(../img/main/mainbg1.webp) center/cover no-repeat;
  min-height: 100vh
}
.main__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.main__title {
  line-height: 150%
}
.main__text {
  max-width: 40rem;
  line-height: 150%;
  letter-spacing: 2%
}
.features__container {
  display: grid;
  grid-template-columns: repeat(3,18.0625rem);
  justify-content: space-between;
  gap: .9375rem
}
.features__column {
  background-color: #fff;
  border-radius: 3px 12px 3px 12px;
  justify-self: center;
  box-shadow: 0 0 5px #ff6a00
}
.features__item {
  color: #000;
  text-align: center;
  padding: 1.25rem .9375rem 1.25rem .9375rem
}
.features__img {
  margin-bottom: 2rem
}
.features__img img {
  width: 5.625rem
}
.features__label {
  max-width: 16.1875rem;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: .4px;
  font-size: 1.25rem
}
.about__container {
  display: flex;
  gap: 2rem;
  align-items: center
}
.about__image {
  max-width: 35.0625rem;
  height: 36rem
}
.about__image img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  border-radius: 12px
}
.about__text {
  line-height: 150%;
  letter-spacing: .32px;
  max-width: 37.5rem
}
.how__container {
  display: flex;
  justify-content: center;
  gap: 3rem
}
.how__column {
  background-color: #fff;
  border-radius: 3px 12px 3px 12px;
  box-shadow: 0 0 5px #ff6a00
}
.how__column:first-child {
  background-color: #c9f8f6
}
.how__column:nth-child(2) {
  background-color: #f8c9c9
}
.how__column:nth-child(3) {
  background-color: #f3f8c9
}
.how__column:last-child {
  background-color: #d4f8c9
}
.how__column:not(:last-child) {
  position: relative
}
.how__column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 46%;
  right: -3rem;
  width: 3rem;
  height: 1.6875rem;
  background: url(../img/how/arrow.svg) 0 0 no-repeat
}
.how__item {
  text-align: center;
  padding: 5.125rem .625rem 6.25rem .625rem;
  width: 15.25rem
}
.how__image {
  margin-bottom: .875rem
}
.how__label {
  color: #000;
  font-weight: 500;
  letter-spacing: .34px;
  margin-bottom: .625rem
}
.how__sublabel {
  color: #000;
  text-align: right;
  font-size: .875rem
}
.stock__container {
  display: flex;
  flex-direction: column
}
.stock__title {
  text-align: center
}
.stock__text {
  letter-spacing: .34px;
  max-width: 61.3125rem;
  font-weight: 600;
  line-height: 150%;
  font-size: 1.25rem
}
.stock__slider {
  width: 18.125rem
}
.stock__slide {
  text-align: center
}
.stock__image img {
  max-width: 100%
}
.stock__button {
  align-self: center
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  opacity: 1;
  transition: background-color .3s ease,-webkit-transform .3s ease;
  transition: background-color .3s ease,transform .3s ease;
  transition: background-color .3s ease,transform .3s ease,-webkit-transform .3s ease;
  cursor: pointer
}
.swiper-pagination-bullet-active {
  opacity: .5
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5625rem;
  padding-top: 1.25rem
}
.reviews__title {
  text-align: center
}
.reviews__author {
  margin-bottom: .625rem;
  font-size: 1.5rem;
  font-weight: 500
}
.reviews__mark {
  margin-bottom: .625rem
}
.reviews__text {
  max-width: 33.9375rem;
  line-height: 150%
}
.faq__title {
  text-align: center
}
.faq__row {
  margin: 0 auto;
  max-width: 43.5625rem
}
.contacts__title {
  text-align: center
}
.contacts__subtitle {
  text-align: center
}
.contacts__content {
  display: flex;
  justify-content: space-between
}
.contacts__label {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: .48px;
  margin-bottom: .875rem
}
.contacts__tel {
  display: inline-flex;
  align-items: center;
  gap: .8125rem;
  margin-bottom: 1.3125rem;
  transition: all .3s
}
.contacts__tel::before {
  content: "";
  width: 1.875rem;
  height: 2rem;
  background: url(../img/contacts/phone.webp) 0 0 no-repeat
}
.contacts__email {
  display: inline-flex;
  align-items: center;
  gap: .8125rem;
  margin-bottom: 2.75rem;
  transition: all .3s
}
.contacts__email::before {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  background: url(../img/contacts/email.webp) 0 0 no-repeat
}
.form-contacts__item {
  position: relative
}
.form-contacts__input {
  font-weight: 600;
  font-size: 1.125rem;
  background-color: #fff;
  line-height: 150%;
  padding: 1rem 2.375rem;
  border-radius: 12px;
  color: #000;
  width: 23.1875rem;
  max-width: 100%
}
.form-contacts__input::-webkit-input-placeholder {
  color: #000
}
.form-contacts__input:-ms-input-placeholder {
  color: #000
}
.form-contacts__input::-ms-input-placeholder {
  color: #000
}
.form-contacts__input::placeholder {
  color: #000
}
.form-contacts__area {
  font-weight: 600;
  font-size: 1.125rem;
  background-color: #fff;
  line-height: 150%;
  padding: 1rem 2.375rem;
  border-radius: 12px;
  color: #000;
  width: 23.1875rem;
  max-width: 100%;
  resize: vertical
}
.form-contacts__area::-webkit-input-placeholder {
  color: #000
}
.form-contacts__area:-ms-input-placeholder {
  color: #000
}
.form-contacts__area::-ms-input-placeholder {
  color: #000
}
.form-contacts__area::placeholder {
  color: #000
}
.form__error {
  color: red;
  position: absolute;
  bottom: -1.25rem;
  left: 0
}
._form-error::-webkit-input-placeholder {
  color: red
}
._form-error:-ms-input-placeholder {
  color: red
}
._form-error::-ms-input-placeholder {
  color: red
}
._form-error::placeholder {
  color: red
}
iframe {
  max-width: 100%
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:61.99875em) {
  .header._header-scroll .header__container {
    min-height: 6.25rem
  }
  .menu__list {
    display: flex;
    align-items: center;
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem
  }
}
@media (min-width:76.875em) {
  .spollers__title {
    font-size: 1.25rem
  }
  .spollers__body {
    font-size: 1.25rem
  }
  .subtitle {
    font-size: 1.5rem
  }
  .subtitle {
    letter-spacing: .125%rem
  }
  .footer__container {
    padding-top: 5rem
  }
  .footer__container {
    padding-bottom: 5rem
  }
  .footer__copyright {
    font-size: 1.25rem
  }
  .page__features {
    margin-bottom: 11.875rem
  }
  .page__about {
    margin-bottom: 11.875rem
  }
  .page__how {
    margin-bottom: 11.875rem
  }
  .page__stock {
    margin-bottom: 11.875rem
  }
  .page__reviews {
    margin-bottom: 11.875rem
  }
  .page__faq {
    margin-bottom: 11.875rem
  }
  .page__contacts {
    margin-bottom: 4.8125rem
  }
  .main__container {
    padding-top: 19.875rem
  }
  .main__subtitle {
    margin-bottom: 1.125rem
  }
  .main__title {
    font-size: 2.5rem
  }
  .main__title {
    margin-bottom: 1.125rem
  }
  .main__text {
    font-size: 1rem
  }
  .main__text {
    margin-bottom: 1.375rem
  }
  .features {
    margin-top: -5.9375rem
  }
  .about__title {
    margin-bottom: 2.8125rem
  }
  .about__text p:not(:last-child) {
    margin-bottom: 2rem
  }
  .about__text {
    margin-bottom: 2.5rem
  }
  .stock__title {
    margin-bottom: 2.5rem
  }
  .stock__text {
    margin-bottom: 3.125rem
  }
  .stock__text p:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .stock__slider {
    width: 75rem
  }
  .stock__slider {
    margin-bottom: 3.375rem
  }
  .stock__slide {
    gap: 1.875rem
  }
  .reviews__title {
    margin-bottom: 4.75rem
  }
  .faq__title {
    margin-bottom: 4.125rem
  }
  .contacts__title {
    margin-bottom: 1rem
  }
  .contacts__subtitle {
    margin-bottom: 5.125rem
  }
  .form-contacts__item:not(:last-child) {
    margin-bottom: 2.9375rem
  }
}
@media (max-width:1145px) {
  .how__item {
    width: 9.375rem
  }
}
@media (max-width:1030px) {
  .logo {
    font-size: 2rem
  }
}
@media (max-width:700px) {
  .how__container {
    flex-direction: column
  }
  .how__column {
    align-self: center
  }
  .how__column:not(:last-child) {
    position: relative
  }
  .how__column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 103.5%;
    left: 40%;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 3rem;
    height: 1.6875rem;
    background: url(../img/how/arrow.svg) 0 0 no-repeat
  }
  .how__item {
    width: 15.25rem
  }
}
@media (max-width:500px) {
  .actions-header__button {
    align-self: center
  }
}
@media (max-width:20em) {
  .spollers__title {
    font-size: .875rem
  }
  .spollers__body {
    font-size: 1rem
  }
  .subtitle {
    font-size: 1.125rem
  }
  .subtitle {
    letter-spacing: .0000000625rem
  }
  .footer__container {
    padding-top: 2.5rem
  }
  .footer__container {
    padding-bottom: 2.5rem
  }
  .footer__copyright {
    font-size: 1.125rem
  }
  .page__features {
    margin-bottom: 6.25rem
  }
  .page__about {
    margin-bottom: 6.25rem
  }
  .page__how {
    margin-bottom: 6.25rem
  }
  .page__stock {
    margin-bottom: 6.25rem
  }
  .page__reviews {
    margin-bottom: 6.25rem
  }
  .page__faq {
    margin-bottom: 6.25rem
  }
  .page__contacts {
    margin-bottom: 2.375rem
  }
  .main__container {
    padding-top: 11.25rem
  }
  .main__subtitle {
    margin-bottom: .625rem
  }
  .main__title {
    font-size: 1.25rem
  }
  .main__title {
    margin-bottom: .625rem
  }
  .main__text {
    font-size: .875rem
  }
  .main__text {
    margin-bottom: .875rem
  }
  .features {
    margin-top: -10.625rem
  }
  .about__title {
    margin-bottom: 1.25rem
  }
  .about__text p:not(:last-child) {
    margin-bottom: .75rem
  }
  .about__text {
    margin-bottom: 1.25rem
  }
  .stock__title {
    margin-bottom: 1.25rem
  }
  .stock__text {
    margin-bottom: 2.125rem
  }
  .stock__text p:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .stock__slider {
    width: 18.125rem
  }
  .stock__slider {
    margin-bottom: 1.25rem
  }
  .stock__slide {
    gap: .625rem
  }
  .reviews__title {
    margin-bottom: 2.375rem
  }
  .faq__title {
    margin-bottom: 2.0625rem
  }
  .contacts__title {
    margin-bottom: .625rem
  }
  .contacts__subtitle {
    margin-bottom: 2.5rem
  }
  .form-contacts__item:not(:last-child) {
    margin-bottom: 1.25rem
  }
}
@media (max-width:61.99875em) {
  .header__container {
    min-height: 5.625rem
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    padding: 12.5rem .9375rem 4.375rem .9375rem;
    display: flex;
    flex-direction: column;
    transition: all .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 5.625rem;
    background-color: #4e4e4e;
    transition: all .3s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    content: "";
    left: 0
  }
  .menu__item {
    text-align: center;
    margin-bottom: 1.25rem
  }
  .menu__link {
    font-size: 1.375rem
  }
  .icon-menu {
    width: 1.625rem;
    height: .5rem;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::before {
    content: "";
    transition: all .3s;
    height: .125rem;
    width: 100%;
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 10px
  }
  .icon-menu::before {
    content: "";
    top: 0
  }
  .icon-menu span {
    bottom: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu span {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.875rem;
    text-align: center
  }
  .features__container {
    grid-template-columns: repeat(3,14.375rem)
  }
  .features__item {
    padding: 1.875rem .3125rem 3.125rem .3125rem
  }
  .features__label {
    font-size: 1.125rem
  }
  .about__container {
    flex-direction: column;
    row-gap: .9375rem
  }
  .how__item {
    padding-top: 5.625rem;
    padding-bottom: 5.625rem
  }
  .contacts__content {
    flex-direction: column;
    text-align: center;
    row-gap: 3.125rem
  }
}
@media (max-width:47.99875em) {
  .spollers__title {
    padding: 1.25rem .625rem
  }
  .features__container {
    grid-template-columns: repeat(3,12.5rem)
  }
  .how__container {
    gap: 1.5rem;
    row-gap: 3rem
  }
  .how__column:not(:last-child) {
    position: relative
  }
  .how__column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 46%;
    right: -2.25rem;
    width: 3rem;
    height: 1.6875rem;
    background: url(../img/how/arrow.svg) 0 0 no-repeat;
    -webkit-transform: scale(.5);
    transform: scale(.5)
  }
}
@media (max-width:41.875em) {
  .features__container {
    grid-template-columns: repeat(2,11.25rem);
    justify-content: center;
    align-items: center
  }
}
@media (max-width:29.99875em) {
  .features__container {
    grid-template-columns: 1fr
  }
}
@media (min-width:20em)and (max-width:76.875em) {
  @supports (font-size:clamp(0.875rem ,0.7431318681rem + 0.6593406593vw ,1.25rem)) {
    .spollers__title {
      font-size: clamp(.875rem ,.7431318681rem + .6593406593vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.7431318681rem + 0.6593406593vw ,1.25rem)) {
    .spollers__title {
      font-size: calc(.875rem + .375*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1rem ,0.9120879121rem + 0.4395604396vw ,1.25rem)) {
    .spollers__body {
      font-size: clamp(1rem ,.9120879121rem + .4395604396vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.9120879121rem + 0.4395604396vw ,1.25rem)) {
    .spollers__body {
      font-size: calc(1rem + .25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9931318681rem + 0.6593406593vw ,1.5rem)) {
    .subtitle {
      font-size: clamp(1.125rem ,.9931318681rem + .6593406593vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9931318681rem + 0.6593406593vw ,1.5rem)) {
    .subtitle {
      font-size: calc(1.125rem + .375*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (letter-spacing:clamp(0.0000000625rem ,-0.0439559595%rem + 0.2197801099%vw ,0.125%rem)) {
    .subtitle {
      letter-spacing: clamp(.0000000625rem ,-.0439559595%rem + .2197801099%vw ,.125%rem)
    }
  }
  @supports not (letter-spacing:clamp(0.0000000625rem ,-0.0439559595%rem + 0.2197801099%vw ,0.125%rem)) {
    .subtitle {
      letter-spacing: calc(.0000000625rem + .1249999375%*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .footer__container {
      padding-top: clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .footer__container {
      padding-top: calc(2.5rem + 2.5*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .footer__container {
      padding-bottom: clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .footer__container {
      padding-bottom: calc(2.5rem + 2.5*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.081043956rem + 0.2197802198vw ,1.25rem)) {
    .footer__copyright {
      font-size: clamp(1.125rem ,1.081043956rem + .2197802198vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.081043956rem + 0.2197802198vw ,1.25rem)) {
    .footer__copyright {
      font-size: calc(1.125rem + .125*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__features {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__features {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__about {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__about {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__how {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__how {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__stock {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__stock {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__reviews {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__reviews {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__faq {
      margin-bottom: clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)
    }
  }
  @supports not (margin-bottom:clamp(6.25rem ,4.271978022rem + 9.8901098901vw ,11.875rem)) {
    .page__faq {
      margin-bottom: calc(6.25rem + 5.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.375rem ,1.5178571429rem + 4.2857142857vw ,4.8125rem)) {
    .page__contacts {
      margin-bottom: clamp(2.375rem ,1.5178571429rem + 4.2857142857vw ,4.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.375rem ,1.5178571429rem + 4.2857142857vw ,4.8125rem)) {
    .page__contacts {
      margin-bottom: calc(2.375rem + 2.4375*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(11.25rem ,8.217032967rem + 15.1648351648vw ,19.875rem)) {
    .main__container {
      padding-top: clamp(11.25rem ,8.217032967rem + 15.1648351648vw ,19.875rem)
    }
  }
  @supports not (padding-top:clamp(11.25rem ,8.217032967rem + 15.1648351648vw ,19.875rem)) {
    .main__container {
      padding-top: calc(11.25rem + 8.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4491758242rem + 0.8791208791vw ,1.125rem)) {
    .main__subtitle {
      margin-bottom: clamp(.625rem ,.4491758242rem + .8791208791vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4491758242rem + 0.8791208791vw ,1.125rem)) {
    .main__subtitle {
      margin-bottom: calc(.625rem + .5*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .main__title {
      font-size: clamp(1.25rem ,.8104395604rem + 2.1978021978vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .main__title {
      font-size: calc(1.25rem + 1.25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4491758242rem + 0.8791208791vw ,1.125rem)) {
    .main__title {
      margin-bottom: clamp(.625rem ,.4491758242rem + .8791208791vw ,1.125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4491758242rem + 0.8791208791vw ,1.125rem)) {
    .main__title {
      margin-bottom: calc(.625rem + .5*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.831043956rem + 0.2197802198vw ,1rem)) {
    .main__text {
      font-size: clamp(.875rem ,.831043956rem + .2197802198vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.831043956rem + 0.2197802198vw ,1rem)) {
    .main__text {
      font-size: calc(.875rem + .125*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.875rem ,0.6991758242rem + 0.8791208791vw ,1.375rem)) {
    .main__text {
      margin-bottom: clamp(.875rem ,.6991758242rem + .8791208791vw ,1.375rem)
    }
  }
  @supports not (margin-bottom:clamp(0.875rem ,0.6991758242rem + 0.8791208791vw ,1.375rem)) {
    .main__text {
      margin-bottom: calc(.875rem + .5*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-top:clamp(-10.625rem ,-12.2733516484rem + 8.2417582418vw ,-5.9375rem)) {
    .features {
      margin-top: clamp(-10.625rem ,-12.2733516484rem + 8.2417582418vw ,-5.9375rem)
    }
  }
  @supports not (margin-top:clamp(-10.625rem ,-12.2733516484rem + 8.2417582418vw ,-5.9375rem)) {
    .features {
      margin-top: calc(-10.625rem + 4.6875*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .about__title {
      margin-bottom: clamp(1.25rem ,.7005494505rem + 2.7472527473vw ,2.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .about__title {
      margin-bottom: calc(1.25rem + 1.5625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.75rem ,0.3104395604rem + 2.1978021978vw ,2rem)) {
    .about__text p:not(:last-child) {
      margin-bottom: clamp(.75rem ,.3104395604rem + 2.1978021978vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(0.75rem ,0.3104395604rem + 2.1978021978vw ,2rem)) {
    .about__text p:not(:last-child) {
      margin-bottom: calc(.75rem + 1.25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .about__text {
      margin-bottom: clamp(1.25rem ,.8104395604rem + 2.1978021978vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .about__text {
      margin-bottom: calc(1.25rem + 1.25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .stock__title {
      margin-bottom: clamp(1.25rem ,.8104395604rem + 2.1978021978vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.8104395604rem + 2.1978021978vw ,2.5rem)) {
    .stock__title {
      margin-bottom: calc(1.25rem + 1.25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.125rem ,1.7733516484rem + 1.7582417582vw ,3.125rem)) {
    .stock__text {
      margin-bottom: clamp(2.125rem ,1.7733516484rem + 1.7582417582vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.125rem ,1.7733516484rem + 1.7582417582vw ,3.125rem)) {
    .stock__text {
      margin-bottom: calc(2.125rem + 1*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.75rem ,1.706043956rem + 0.2197802198vw ,1.875rem)) {
    .stock__text p:not(:last-child) {
      margin-bottom: clamp(1.75rem ,1.706043956rem + .2197802198vw ,1.875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.75rem ,1.706043956rem + 0.2197802198vw ,1.875rem)) {
    .stock__text p:not(:last-child) {
      margin-bottom: calc(1.75rem + .125*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (width:clamp(18.125rem ,-1.875rem + 100vw ,75rem)) {
    .stock__slider {
      width: clamp(18.125rem ,-1.875rem + 100vw ,75rem)
    }
  }
  @supports not (width:clamp(18.125rem ,-1.875rem + 100vw ,75rem)) {
    .stock__slider {
      width: calc(18.125rem + 56.875*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.5027472527rem + 3.7362637363vw ,3.375rem)) {
    .stock__slider {
      margin-bottom: clamp(1.25rem ,.5027472527rem + 3.7362637363vw ,3.375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.5027472527rem + 3.7362637363vw ,3.375rem)) {
    .stock__slider {
      margin-bottom: calc(1.25rem + 2.125*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .stock__slide {
      gap: clamp(.625rem ,.1854395604rem + 2.1978021978vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .stock__slide {
      gap: calc(.625rem + 1.25*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.375rem ,1.5398351648rem + 4.1758241758vw ,4.75rem)) {
    .reviews__title {
      margin-bottom: clamp(2.375rem ,1.5398351648rem + 4.1758241758vw ,4.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.375rem ,1.5398351648rem + 4.1758241758vw ,4.75rem)) {
    .reviews__title {
      margin-bottom: calc(2.375rem + 2.375*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.0625rem ,1.3372252747rem + 3.6263736264vw ,4.125rem)) {
    .faq__title {
      margin-bottom: clamp(2.0625rem ,1.3372252747rem + 3.6263736264vw ,4.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.0625rem ,1.3372252747rem + 3.6263736264vw ,4.125rem)) {
    .faq__title {
      margin-bottom: calc(2.0625rem + 2.0625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.4931318681rem + 0.6593406593vw ,1rem)) {
    .contacts__title {
      margin-bottom: clamp(.625rem ,.4931318681rem + .6593406593vw ,1rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.4931318681rem + 0.6593406593vw ,1rem)) {
    .contacts__title {
      margin-bottom: calc(.625rem + .375*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.5769230769rem + 4.6153846154vw ,5.125rem)) {
    .contacts__subtitle {
      margin-bottom: clamp(2.5rem ,1.5769230769rem + 4.6153846154vw ,5.125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.5769230769rem + 4.6153846154vw ,5.125rem)) {
    .contacts__subtitle {
      margin-bottom: calc(2.5rem + 2.625*(100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.6565934066rem + 2.967032967vw ,2.9375rem)) {
    .form-contacts__item:not(:last-child) {
      margin-bottom: clamp(1.25rem ,.6565934066rem + 2.967032967vw ,2.9375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.6565934066rem + 2.967032967vw ,2.9375rem)) {
    .form-contacts__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.6875*(100vw - 20rem)/ 56.875)
    }
  }
}
@media (max-width:61.99875em)and (min-width:630px) {
  .about__content {
    padding-left: 2.1875rem
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #63432c
  }
  .logo:hover {
    color: #f5b355
  }
  .logo:hover span {
    color: #fff
  }
  .menu__link:hover::after {
    content: "";
    width: 100%;
    left: 0
  }
  .footer__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .contacts__tel:hover {
    color: #ff6a00
  }
  .contacts__email:hover {
    color: #ff6a00
  }
}